name: Update README

on:
  pull_request:
    types: [closed]
    paths:
      - 'content/profiles/**'
      - 'static/images/**'

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install pip
      run: python -m pip install --upgrade pip setuptools wheel
      
    - name: Install dependencies
      run: python -m pip3 install Pillow

    - name: Update README
      run: python .github/scripts/update_readme.py
